.view-email-box{
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    gap: 20px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 72.5px);
}
.email-area{
    display: flex;
    align-items: center;
    gap: 10px;
}
.view-email-client-name{
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .9px;
}
.email-area a{
    color: #000;
    font-size: 13px;
    font-weight: 300;
}
.view-email-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cacaca;
    border-radius: 6px; 
    padding: 15px 15px;
}
.view-email-utility{
    display: flex;
    gap: 4px;
    font-size: 13px;
    font-weight: 300;
    color : #000;
}
.show-option-btn{
    cursor: pointer;
    user-select: none;
}
.close-email{
    cursor: pointer;
}
.view-email-client-msg{
    background-color: #cacaca;
    padding: 25px 35px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    color: #3e3e3e;
    line-height: 30px;
    font-weight: 19px;
}
.close-email{
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #3e3e3e;
    display: grid;
    padding: 10px;
    border-radius: 50px;
}
.view-email-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    background-color: #3e3e3ea6;
    backdrop-filter: blur(10px);
    position: absolute;
    padding: 15px;
    right: 25px;
    top: 95px;
    border-radius: 8px;
}
.view-email-options span{
    cursor: pointer;
    background-color: #969696ab;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: all .3s ease;
}
.view-email-options span:hover{
    background-color: black;
}
.view-email-options span svg{
    margin-right: 4px;
}

.hide{
    display: none;
}


.close-email svg{
    width: 25px;
    height: 25px;
}
