.FAQs-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.FAQs-question-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.FAQs-question-box h1{
    font-size: 20px;
    font-weight: 500;
}
.FAQs-answer{
    font-weight: 400;
    color: var(--text-color);
    font-size: 15px;
}
.hide{
    display: none;
}

.FAQs-question-box button {
    display: grid;
    place-items: center;
    border-radius: 50px;
    padding: 10px;
    border: none;
    background: #d3d3d3;
    cursor: pointer;
    transition: var(--transition);
    user-select: none;
  }
  .FAQs-question-box button > svg {
    fill: #6e6e73;
    height: 20px;
    width: 20px;
    transition: var(--transition);
  }
  .question-box-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 3rem
  }