.box{
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: relative; 
    width: 20px;
    height: 20px;
    border-width: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: white;
    border-left-color: #3e3e3e;
    border-bottom-color: #3e3e3e;
    border-right-color: white; 
    transition: all .3s ease-in-out;
}

@keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }