.sidebar{
    width: 260px;
    border-right: 2px solid #3e3e3e;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 72.5px);
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar button{
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    width: 100%;
    padding-left: 25px;
    transition: all .2s ease;
}
.sidebar button:hover{
    background-color: #3e3e3e;
}

.sidebar button svg{
    width: 30px;
    height: 30px;
}

.sidebar button span {
    font-size: 1rem;
}

button.active{
    background-color: #3e3e3e;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.sidebar::-webkit-scrollbar-track {
    background: #f1f1f150; 
  }
   
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }