.sidebar {
  width: fit-content;
  border-right: 2px solid #3e3e3e;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 72.5px);
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s ease;
}
.sidebar:hover {
  width: 200px;
}
.sidebar a {
  color: white;
}
.sidebar button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 13px 10px;
  width: 100%;
  padding-left: 25px;
  transition: all 0.2s ease;
}
.sidebar button:hover {
  background-color: #3e3e3e;
}

.sidebar button svg {
  width: 20px;
  height: 20px;
}

.sidebar button span {
  font-size: 1.1rem;
  visibility: hidden;
  width: 0px;
  opacity: 0;
  transition: 0.1s ease;
}
.sidebar:hover button span {
  visibility: visible;
  opacity: 1;
  width: fit-content;
}

button.active {
  background-color: #3e3e3e;
}

@media (width < 767px) {
  .sidebar button {
    padding-left: 15px;
  }
}
